<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AzureTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AzureTracker.Properties.Settings>
            <setting name="Organization" serializeAs="String">
                <value>your organization name</value>
            </setting>
            <setting name="WorkItemTypes" serializeAs="String">
                <value>Bug;User Story;Task;Epic;Feature</value>
            </setting>
            <setting name="BuildNotOlderThanDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PAT" serializeAs="String">
                <value>>your azure PAT</value>
            </setting>
            <setting name="DefaultFilters" serializeAs="String">
                <value>
                  {
                  "defaultfilters": [
                  {
                  "type": "WorkItem",
                  "fields": [
                  {
                  "Status": "Active;New;Ready"
                  }
                  ]
                  },
                  {
                  "type": "PR",
                  "fields": [
                  {
                  "IsDraft": "false"
                  },
                  {
                  "Status": "Active"
                  }
                  ]
                  },
                  {
                  "type": "Build",
                  "fields": [
                  {
                  "RepoName": "Repo1;Repo2;Repo3"
                  }
                  ]
                  }
                  ]
                  }</value>
            </setting>
        </AzureTracker.Properties.Settings>
    </userSettings>
</configuration>
