################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureTracker/obj
/AzureTracker/Properties/Settings.Designer.cs
/AzureTracker/Properties/Settings.settings
