################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureTracker/obj
/AzureTracker/Properties
/AzureTracker/App.config
/AzureTracker/AzureTracker.csproj.user
